body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #a2d9ff, #007acc);
}

.container {
    max-width: 800px;
    min-height: 600px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc0000;
}

.hidden {
    display: none;
}

ul {
    text-align: left;
    padding: 0;
    list-style: none;
    margin: 20px 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 300px;
    text-align: left;
     overflow-y: scroll;

}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.home-button {
    position: absolute;
    color: #007acc;
    font-size: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.home-button:hover {
    color: #005f99;
}

.home-icon {
    font-size: 12px;
    margin-right: 8px;
}

.battle-list-section {
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 150px;
     overflow-y: scroll;  
}